<table>
<% @articles.each do |article| %>
  <tr>
    <td><a href="<%= article.url %>"><%= article.title %></a></td>
    <td><%= article.points %></td>
    <td><%= article.comments %></td>
  </tr>
<% end %>
</table>
